.login-form {
    padding: 2rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider hr {
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

.social-btn {
    color: #fff;
    border: none;
}

.facebook {
    background-color: #3b5998;
}
.card {
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.login-form input {
    margin-bottom: 1rem;
}
